<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/flights" >
      <input type="submit" value="All Flights">
    </form>
    <form action="flights/new" >
      <input type="submit" value="Create New Flight">
    </form>
  </body>
</html>
